.home {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.container {
  position: relative;
  left: 15%;
}

/******************************************
ENTER ANIMATION
******************************************/

/* .text {
  position: absolute;
  top: 50%;
  left: 11%;
}

.text-entering {
  animation: enter 1.8s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes enter {
  0% {transform: translate3d(-250%, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
} */

/******************************************
HOME NAVIGATION
******************************************/

#fp-nav {
  margin: 0;
  width: 40px;
  left: 40px !important;
}
#fp-nav ul li {
  height: 3px !important;
  margin: 0 0 40px !important;
}
#fp-nav ul li a {
  width: 24px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}
#fp-nav ul li a span {
  display: none;
}
#fp-nav ul li:last-child {
  margin-bottom: 0 !important;
}
#fp-nav ul li .active {
  width: 40px;
}


@media screen and (max-width: 800px) {
  #fp-nav {
    width: auto;
    top: auto !important;
    left: 50% !important;
    bottom: 40px;
    transform: translate3d(-50%, 0, 0) !important;
  }
  #fp-nav ul {
    display: flex;
    align-items: flex-end;
  }
  #fp-nav ul li {
    width: 3px !important;
    height: auto !important;
    margin: 0 28px !important;
  }
  #fp-nav ul li a {
    width: 3px !important;
    height: 24px !important;
  }
  #fp-nav ul li .active {
    height: 40px !important;
  }
}