.home {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-left: 10%;
  overflow: hidden;
  display: flex;
  justify-items: center;
  align-items: center;
}

.fp-tableCell {
  vertical-align: baseline !important;
}

.project {
  width: 400px;
}
/******************************************
SECTION ENTER ANIMATION
******************************************/

section.active .text {
  animation: enter-text 1.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@keyframes enter-text {
  0% {transform: translate3d(-250%, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}

.image {
  display: block;
  position: relative;
  width: 50%;
  height: 70%;
  margin: 0 18% 0 auto;
  box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
}
.image-project {
  background: url(../assets/images/project.jpg) no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}
.image-contact {
  background: url(../assets/images/contact.jpg) no-repeat center;
  background-size: cover;
}
.image-over {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.image-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #ff4d5a;
  transform: translate3d(100%, 0, 0); 
}
.image-cover:last-child {
  background: #072142;
}
section.active .image-cover {
  animation: enter-image 1.5s cubic-bezier(0.86, 0, 0.07, 1);
}
section.active .image-cover:last-child {
  animation: enter-image 1.3s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes enter-image {
  0% {transform: translate3d(0, 0, 0);}
  100% {transform: translate3d(100%, 0, 0);}
}

/******************************************
SECTION NAVIGATION
******************************************/

#fp-nav {
  margin: 0;
  width: 40px;
  left: 40px !important;
}
#fp-nav ul li {
  height: 3px !important;
  margin: 0 0 40px !important;
}
#fp-nav ul li a {
  width: 24px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  transition: 0.3s;
}
#fp-nav ul li a span {
  display: none;
}
#fp-nav ul li:last-child {
  margin-bottom: 0 !important;
}
#fp-nav ul li .active {
  width: 40px;
}


@media screen and (max-width: 800px) {
  #fp-nav {
    width: auto;
    top: auto !important;
    left: 50% !important;
    bottom: 30px;
    transform: translate3d(-50%, 0, 0) !important;
  }
  #fp-nav ul {
    display: flex;
    align-items: flex-end;
  }
  #fp-nav ul li {
    width: 3px !important;
    height: auto !important;
    margin: 0 35px !important;
  }
  #fp-nav ul li a {
    width: 3px !important;
    height: 20px !important;
  }
  #fp-nav ul li .active {
    height: 40px !important;
  }
}
