header {
  width: 100%;
  padding: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  z-index: 1000;
}
.logo {
  height: calc(var(--nav-size) * 0.6);
}
@media screen and (max-width: 420px) {
  .logo {
    height: calc(var(--nav-size) * 0.5);
  }
}

.right_wrap {
  display: flex;
  z-index: 900;
}

.social_icons a img {
  height: calc(var(--nav-size) * 0.5);
  padding: 0 1em;
}
@media screen and (max-width: 420px) {
  .social_icons {
    display: none;
  }
}

.wrap_social span {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background-color: white;
}
.wrap_social a img {
  height: calc(var(--nav-size) * 0.7);
  margin-top: 25px;
  padding: 0 1em;
}
@media screen and (min-width: 420px) {
  .wrap_social {
    display: none;
  }
}

/******************************************
BURGER MENU BUTTON
******************************************/

.menu_btn {
  padding: 0 1em;
  display: flex;
  align-items: center;  
}
.menu_btn button {
  padding: 5px;
}
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:focus {
  outline: none;
}
.hamburger:hover {
  filter: brightness(0.7);
}
.hamburger.is-active:hover {
  filter: brightness(0.7);
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}
.hamburger-box {
  width: 30px;
  height: 4px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner {
  width: 30px;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger-anim .hamburger-box {
  perspective: 80px;
}
.hamburger-anim .hamburger-inner {
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.7, 1),
    background-color 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}
.hamburger-anim .hamburger-inner::before,
.hamburger-anim .hamburger-inner::after {
  transition: transform 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}
.hamburger-anim.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}
.hamburger-anim.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-anim.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/******************************************
MENU
******************************************/

.main_nav {
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translate3d(0, -100%, 0);
}
.main_nav.is-active {
  transform: translate3d(0, 0, 0);
}
.main_nav.is-active a {
  transform: translate3d(0, 0, 0);
}
.wrap_menu {
  text-align: center;
}
.wrap_menu li {
  margin-top: 2.5rem;
  position: relative;
  padding: 0 140px;
  overflow: hidden;
}
.wrap_menu a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  line-height: 2;
  letter-spacing: 0.1em;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.2);
  transform: translate3d(0, 100%, 0);
  transition: 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}
@media screen and (max-width: 420px) {
  .wrap_menu a {
    font-size: 3rem;
  }
}

/******************************************
LOADER CURTAIN
******************************************/

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020b16;
  z-index: 999;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}
.curtain.hidden {
  transform: translate3d(0, -100%, 0);
}

/******************************************
BACKGROUND
******************************************/

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background-image: linear-gradient(
    190deg,
    #16313b 0%,
    #132c35 10%,
    #0E1F25 30%,
    #06131d 60%,
    #03090E 100%
  );
}


