/**** Main Navbar ****/
.navbar {
  height: var(--nav-size);
  /*   background-color: var(--bg);
  border-bottom: var(--border); */
}

.main_nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: calc(var(--nav-size) * 0.6);
}

.menu_btn {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/**** Burger Menu Button ****/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:focus {
  outline: none;
}
.hamburger:hover {
  filter: brightness(0.7);
}
.hamburger.is-active:hover {
  filter: brightness(0.7);
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}

.hamburger-box {
  width: 30px;
  height: 4px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner {
  width: 30px;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-anim .hamburger-box {
  perspective: 80px;
}

.hamburger-anim .hamburger-inner {
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.7, 1),
    background-color 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}
.hamburger-anim .hamburger-inner::before,
.hamburger-anim .hamburger-inner::after {
  transition: transform 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}

.hamburger-anim.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}
.hamburger-anim.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-anim.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/**** Dropdown Menu ****/
.menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.wrap_menu {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  /*   background-color: var(--bg);
  border: var(--border); */
  padding: 1rem;
  overflow: hidden;
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
    opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.wrap_menu.is-active {
  transform: translateY(100%) translateZ(0);
  opacity: 1;
}

/**** Background ****/
.bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -500;
  background-image: linear-gradient(
    to bottom,
    #021630,
    #061c37,
    #061629,
    #050f1b,
    #01070e
  );
}
/* .mountain,
.mountain-two,
.mountain-three {
  position: absolute;
  bottom: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 180px solid #355261;
  z-index: -100;
}
.mountain-two {
  left: 80px;
  bottom: -20px;
  opacity: 0.3;
  z-index: -300;
}
.mountain-three {
  left: -60px;
  bottom: -10px;
  opacity: 0.5;
  z-index: -200;
}
.mountain::after,
.mountain-two::after,
.mountain-three::after {
  content: ' ';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-bottom: 180px solid #004260;
  border-right: 150px solid transparent;
}
.mountain-top {
  position: absolute;
  right: -65px;
  border-left: 65px solid transparent;
  border-right: 65px solid transparent;
  border-bottom: 77px solid #ceeaf6;
  z-index: 300;
}
.mountain-cap-1,
.mountain-cap-2,
.mountain-cap-3 {
  border-radius: 2px;
  position: absolute;
  top: 70px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ceeaf6;
}
.mountain-cap-1 {
  left: -55px;
}
.mountain-cap-2 {
  left: -25px;
}
.mountain-cap-3 {
  left: 5px;
}
.cloud,
.cloud:before,
.cloud:after {
  position: absolute;
  width: 70px;
  height: 30px;
  background: rgb(139, 139, 139);
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

.cloud {
  bottom: 100px;
  animation: cloud 50s infinite linear;
  animation: cloud 50s infinite linear;
}

@keyframes cloud {
  0% {
    left: -100px;
  }
  100% {
    left: 1000px;
  }
}
@keyframes cloud {
  0% {
    left: -100px;
  }
  100% {
    left: 1000px;
  }
}
.cloud:before {
  content: '';
  left: 50px;
}
.cloud:after {
  content: '';
  left: 25px;
  top: -10px;
} */

/**************/
/**** Moon ****/
/**************/

.moon {
  position: absolute;
  top: 20%;
  right: 10%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: radial-gradient(
      circle at 60% 60%,
      transparent 50%,
      rgba(255, 255, 255, 1) 120%
    ),
    radial-gradient(circle at 40% 40%, transparent 50%, rgba(0, 0, 0, 1) 110%),
    radial-gradient(
      circle at top left,
      rgba(0, 0, 0, 0.15) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    radial-gradient(
      circle at bottom,
      rgba(10, 35, 66, 0.4) 30%,
      transparent 70%
    ),
    radial-gradient(
      circle at bottom,
      rgba(40, 62, 81, 0.15) 0%,
      rgba(10, 35, 66, 0.2) 100%
    ),
    radial-gradient(
      circle at top left,
      rgba(171, 227, 255, 0.75) 0%,
      rgba(0, 0, 0, 0.5) 90%
    ),
    linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-size: 180%, 100%, 100%, 100%, 100%, 100%, 100%;
  background-position: 50%, 50%, 50%, 50%, 50%, 50%, 50%;
}

.moon::after {
  display: block;
  content: '';
  background-image: radial-gradient(
    circle at 48% 48%,
    rgba(163, 249, 255, 0.2) 22%,
    rgba(133, 237, 255, 0.08) 32%,
    transparent 50%
  );
  z-index: -1;
  width: 240%;
  height: 240%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 2s ease-in-out;
  transform-origin: 50%;
  animation: glow 15s infinite;
}

.moon::before {
  display: block;
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0.78;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.1) 32%,
      rgba(0, 0, 0, 0.25) 10%,
      transparent 0%
    ),
    radial-gradient(
      rgba(0, 0, 0, 0.1) 2%,
      rgba(0, 0, 0, 0.25) 50%,
      transparent 0%
    ),
    radial-gradient(
      rgba(0, 0, 0, 0.1) 32%,
      rgba(0, 0, 0, 0.25) 50%,
      transparent 0%
    ),
    radial-gradient(
      rgba(0, 0, 0, 0.1) 72%,
      rgba(0, 0, 0, 0.25) 50%,
      transparent 0%
    );
  background-size: 56% 56%, 16% 16%, 16% 16%, 20% 20%;
  background-position: 50% 25%, 25% 50%, 20% 5%, -5% 25%;
  background-repeat: no-repeat;
}
@keyframes glow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/***************/
/**** Stars ****/
/***************/

.star {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 100%;
  z-index: -50;
}

#star-1 {
  transform: scale(1.2);
  top: 25%;
  left: 50%;
  transition-delay: 0.5s;
  animation: glow1 1s linear infinite;
}

@keyframes glow1 {
  0%,
  100% {
    box-shadow: 0px 0px 10px 7px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-2 {
  transform: scale(1.5);
  top: 38%;
  left: 40%;
  transition-delay: 0.8s;
  animation: glow2 1.5s linear infinite;
}

@keyframes glow2 {
  0%,
  100% {
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-3 {
  transform: scale(0.7);
  top: 42%;
  left: 35%;
  transition-delay: 0.45s;
  animation: glow3 2s linear infinite;
}

@keyframes glow3 {
  0%,
  100% {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-4 {
  transform: scale(0.3);
  top: 45%;
  left: 30%;
  transition-delay: 0.7s;
  animation: glow4 5s linear infinite;
}

@keyframes glow4 {
  0%,
  100% {
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-5 {
  transform: scale(0.8);
  animation: glow5 5s ease-in-out infinite;
  box-shadow: 6px -6px 20px 4px white;
}

/* @keyframes glow5 {
	0%  {top: 0%; left: 80%;);}
	10% {top: 110%; left: 15%;);}
} */

#star-6 {
  transform: scale(0.4);
  animation: glow6 3s ease-in-out infinite;
  box-shadow: -6px -6px 20px 4px white;
}

/* @keyframes glow6 {
	0%  {bottom: 40%; left: 0%;);}
	10% {bottom: 85%; left:110%;);}
} */

#star-7 {
  transform: scale(0.8);
  top: 37%;
  left: 55%;
  transition-delay: 1.1s;
  animation: glow7 5s linear infinite;
}

@keyframes glow7 {
  0%,
  100% {
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-8 {
  transform: scale(1);
  top: 52%;
  left: 72%;
  transition-delay: 1.4s;
  animation: glow8 2s linear infinite;
}

@keyframes glow8 {
  0%,
  100% {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  }
}

#stars {
  display: block;
  width: 100%;
  height: 100%;
  /* 	background: url(https://dl.dropboxusercontent.com/u/12646264/assets/stars_03.svg)no-repeat center 20%;
 */
  transition: all 0.25s ease-out;
  transition-delay: 0.5s;
}

.toggle:checked ~ #back #stars {
  transform: translateY(-100%);
  transition: all 0.25s ease-in;
}

.toggle:checked ~ #back .star {
  opacity: 0;
}

.toggle:checked ~ #back ul li:nth-child(1) {
  transform: translateY(-2000%);
  transition-delay: 0s;
}
.toggle:checked ~ #back ul li:nth-child(2) {
  transform: translateY(-2000%);
  transition-delay: 0s;
}
.toggle:checked ~ #back ul li:nth-child(3) {
  transform: translateY(-2000%);
  transition-delay: 0s;
}
.toggle:checked ~ #back ul li:nth-child(4) {
  transform: translateY(-2000%);
  transition-delay: 0s;
}
.toggle:checked ~ #back ul li:nth-child(5) {
  transform: translateY(-2000%);
  transition-delay: 0s;
}
.toggle:checked ~ #back ul li:nth-child(6) {
  transform: translateY(-2000%);
  transition-delay: 0s;
}
.toggle:checked ~ #back ul li:nth-child(7) {
  transform: translateY(-2000%);
  transition-delay: 0s;
}
.toggle:checked ~ #back ul li:nth-child(8) {
  transform: translateY(-2000%) scale(1.2);
  transition-delay: 0s;
}
