/**** Main Navbar ****/
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  border-bottom: var(--border);
}

.main_nav {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: calc(var(--nav-size) * 0.6)
}

.menu_btn {
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/**** Burger Menu Button ****/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:focus {
  outline: none;
}
.hamburger:hover {
  filter: brightness(0.7);
}
.hamburger.is-active:hover {
  filter: brightness(0.7);
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}

.hamburger-box {
  width: 30px;
  height: 4px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner {
  width: 30px;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger-anim .hamburger-box {
  perspective: 80px;
}

.hamburger-anim .hamburger-inner {
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.7, 1),
    background-color 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}
.hamburger-anim .hamburger-inner::before,
.hamburger-anim .hamburger-inner::after {
  transition: transform 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}

.hamburger-anim.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}
.hamburger-anim.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-anim.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/**** Dropdown Menu ****/
.menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.wrap_menu {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  background-color: var(--bg);
  border: var(--border);
  padding: 1rem;
  overflow: hidden;
  opacity: 0;
  transition: 
    transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
    opacity 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.wrap_menu.is-active {
  transform: translateY(100%) translateZ(0);
  opacity: 1;
}
