header {
  width: 100%;
  padding: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name {
  z-index: 1000;
}
.logo {
  height: calc(var(--nav-size) * 0.6);
}
.wrap {
  display: flex;
  z-index: 900;
}
.social_icons {
  display: flex;
}
.wrap .social_icons a img {
  height: calc(var(--nav-size) * 0.5);
  padding: 0 1em;
}
.menu_btn {
  padding: 0 1em;
  display: flex;
  align-items: center;
}
.menu_btn button {
  padding: 5px;
}

/******************************************
BURGER MENU BUTTON
******************************************/

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:focus {
  outline: none;
}
.hamburger:hover {
  filter: brightness(0.7);
}
.hamburger.is-active:hover {
  filter: brightness(0.7);
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: rgb(255, 255, 255);
}
.hamburger-box {
  width: 30px;
  height: 4px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -5px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner {
  width: 30px;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger-anim .hamburger-box {
  perspective: 80px;
}
.hamburger-anim .hamburger-inner {
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.7, 1),
    background-color 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}
.hamburger-anim .hamburger-inner::before,
.hamburger-anim .hamburger-inner::after {
  transition: transform 0s 0.25s cubic-bezier(0.86, 0, 0.7, 1);
}
.hamburger-anim.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(-180deg);
}
.hamburger-anim.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger-anim.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/******************************************
MENU
******************************************/

.main_nav {
  background: linear-gradient(to left, #2c5364, #203a43, #0f2027);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transform: translate3d(0, -100%, 0);
}
.main_nav.is-active {
  transform: translate3d(0, 0, 0);
}
.main_nav.is-active a {
  transform: translate3d(0, 0, 0);
}
.wrap_menu {
  text-align: center;
}
.wrap_menu li {
  margin-top: 2.5rem;
  position: relative;
  padding: 0 153px;
  overflow: hidden;
}
.wrap_menu a {
  display: inline-block;
  color: #fff;
  font-size: 4rem;
  line-height: 2;
  letter-spacing: 0.1em;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.2);
  transform: translate3d(0, 100%, 0);
  transition: 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

/******************************************
LOADER CURTAIN
******************************************/

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020b16;
  z-index: 999;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.curtain.hidden {
  transform: translate3d(0, -100%, 0);
}

/******************************************
BACKGROUND
******************************************/

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  background-image: linear-gradient(
    to bottom,
    #072142 0%,
    #061c41 10%,
    #07182b 30%,
    #061220 60%,
    #000711 100%
  );
}

/*

	background: #50a3a2;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);

*/

/******************************************
MOON
******************************************/

.moon {
  position: absolute;
  top: 30%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moon img {
  max-width: 300px;
  width: 40vw;
  height: 40vw;
}

/* .moon::after {
  display: block;
  content: '';
  background-image: radial-gradient(
    circle at 48% 48%,
    rgba(163, 249, 255, 0.2) 22%,
    rgba(133, 237, 255, 0.08) 32%,
    transparent 50%
  ),
  radial-gradient(
    circle at 50% 50%,
    rgba(163, 249, 255, 0.2) 50%,
    rgba(133, 237, 255, 0.03) 50%
  );
  z-index: -1;
  width: 240%;
  height: 240%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 2s ease-in-out;
  transform-origin: 50%;
  animation: glow 15s infinite;
} */

@keyframes glow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/******************************************
STARS
******************************************/

.star {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  background: white;
  border-radius: 100%;
  z-index: -50;
}

#star-1 {
  transform: scale(1.2);
  top: 25%;
  left: 50%;
  transition-delay: 0.5s;
  animation: glow1 5s linear infinite;
}

@keyframes glow1 {
  0%,
  100% {
    box-shadow: 0px 0px 4px 3px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-2 {
  transform: scale(1.5);
  top: 38%;
  left: 40%;
  transition-delay: 0.8s;
  animation: glow2 6.5s linear infinite;
}

@keyframes glow2 {
  0%,
  100% {
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-3 {
  transform: scale(0.7);
  top: 42%;
  left: 35%;
  transition-delay: 0.45s;
  animation: glow3 8s linear infinite;
}

@keyframes glow3 {
  0%,
  100% {
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-4 {
  transform: scale(0.3);
  top: 45%;
  left: 30%;
  transition-delay: 0.7s;
  animation: glow4 10s linear infinite;
}

@keyframes glow4 {
  0%,
  100% {
    box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-5 {
  transform: scale(0.8);
  animation: glow5 5s ease-in-out infinite;
  box-shadow: 6px -6px 20px 4px white;
}

@keyframes glow5 {
  0% {
    top: 40%;
    left: -10%;
  }
  10% {
    top: 70%;
    left: 115%;
  }
}

#star-6 {
  transform: scale(0.4);
  animation: glow6 3s ease-in-out infinite;
  box-shadow: -6px -6px 20px 4px white;
}

@keyframes glow6 {
  0% {
    bottom: 40%;
    right: -10%;
  }
  10% {
    bottom: 85%;
    right: 110%;
  }
}

#star-7 {
  transform: scale(0.8);
  top: 37%;
  left: 55%;
  transition-delay: 1.1s;
  animation: glow7 10s linear infinite;
}

@keyframes glow7 {
  0%,
  100% {
    box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
  }
}

#star-8 {
  transform: scale(1);
  top: 52%;
  left: 72%;
  transition-delay: 1.4s;
  animation: glow8 4s linear infinite;
}

@keyframes glow8 {
  0%,
  100% {
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.25);
  }
  50% {
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  }
}
